body {
    background-image: url("./images/annie-spratt-tuJ3tXSayco-unsplash.jpg");
    margin: 0;
    padding: 0;
    background-color: blueviolet;
    
}

header{
    height: 50vh;
    width: 80vh;
    left: 500px;
}


#form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vh;
    top: 200px;
    left: 400px;
    background-color: transparent;
    position: absolute;
    font-size: 2rem;
    padding: 0px;
}

.amount{
    justify-content: center;
    display: flex;
}

.from-to{
    display: flex;
    justify-content: space-around;
    margin: 50px ;
}

.btn {
    justify-content: center;
    display: flex;
}

button:hover{
    cursor: pointer;
}

.result{
    text-align: center;
    margin: 20px 0;
}