body {
    background-image: url("./annie-spratt-tuJ3tXSayco-unsplash.jpg");
    margin: 0;
    padding: 0;
    background-color: blueviolet;
    
}

header{
    height: 50vh;
    width: 80vh;
    left: 500px;
}


#form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vh;
    top: 100px;
    left: 500px;
    background-color: transparent;
    position: absolute;
    font-size: 2rem;
}


.from-to{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.btn {
    justify-content: center;
    display: flex;
}

.btn:hover{
    cursor: pointer;
}

.result{
    text-align: center;
    margin: 20px 0;
}